# Core functionality - changes here should be rare!
/src/app.py                   @MahendraBudhu99
/src/backend/database.py      @MahendraBudhu99
/src/backend/routers/auth.py  @MahendraBudhu99

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MahendraBudhu99
